<!-- Sponsor Section -->
<section id="sponsor" class="sponsor">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h4>Sponsors</h4>
            <div class="row about-details">
                <div class="col-sm-6">
		    <a href="https://developers.google.com/"><img class="sponsor" src="images/Google-Developers.png" alt="Google Developers" title="Google Developers"></a>
                </div>
                <div class="col-sm-6">
		    <a href="https://it.scaratec.com/"><img class="sponsor" src="images/sponsor-scaratec.png" alt="Scaratec" title="Scaratec"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Sponsor Section -->
