<!-- Begin Subscribe Section -->
<section id="subscribe" class="subscribe image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.subscribeImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3>{{ site.subscribeTitle }}</h3>
	    
            <p>Join the <a href="https://plus.google.com/communities/113782579160655007812">GDG Düsseldorf Google+ Community</a> to stay up to date.</p>
	</div>
    </div>
</section>
<!-- End Subscribe Section -->
